*{
    margin: 0;
    padding: 0;
}

.menue-bar{
    display: flex;
    background: whitesmoke;
    border-bottom: solid rgb(233, 230, 230) 1px;
    padding: 10px;
}


.menue-2{
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(50, 50, 221);
    margin-left: 60px;
    list-style: none;
    
}


.menu-1{
    display: flex;
    margin: 40 10px;
    margin-left: 18%;

}


li{
    color: rgb(88, 86, 86);
    margin-top: 10px;
    align-items: center;
    margin-top: 12px;
    list-style: none;
    margin: 15px;
    padding: 20 10px;
}


input{
    margin-left: 18%;
    width: 250px;
    height: 28px;
    border: none;
    margin-top: 12px;
    border-radius: 5px;
}

:placeholder-shown{
    padding-left: 15px;
}

.page{
    font-family: Tahoma;
    font-weight: bold;
    color: rgb(64, 64, 231);
    display: flex;
    font-size: 150%;
    padding-top: 7%;
    margin-bottom: 15px;
    margin-left: 15%;
}

.page-1{ 
    margin-left: 15%;

}


.the-page{
    background: whitesmoke;
    padding-bottom: 50px;

}


.page-ul{
    display: flex;
    margin-left: 15%;

}


.pageli-1{
    font-family: monospace;
    padding-right: 30px;
    color: whitesmoke;
    margin: 10px;
    border: solid;
    width: 100px;
    text-indent: 20px;
    padding: 10px;
    border-radius: 30px;
    background: rgb(63, 63, 235);
}


.pageli-2{
    font-family: monospace;
    padding-left: 30px;
    color: rgb(81, 81, 233);
    margin: 12px;
    border: solid 2px;
    width: 100px;
    text-indent: 17px;
    padding: 10px;
    border-radius: 30px;
    background: white;
}


.firstpic{
    width: 200px;
    float: right;
    padding-right: 320px;
    padding-top: 30px;
}

.middle{
    font-family: Tahoma;
    padding-top: 3.30%;
    text-align: center;
    color: rgb(202, 195, 195);

}

.pics{
    color: rgba(126, 120, 120, 0.808);
    align-self: center;
    width: 15%;
}


.pepsi{
width: 110px;
padding-top: 20px;
padding-left: 130px;
}


.graph{
    margin-left: 50px;
    padding-top: 10px;
    color: rgb(145, 143, 143);
}


.grahp-2{
    font-family: Tahoma;
    font-size: small;
    font-weight: bold;
    margin-left: 100px;
    padding-top: 10px;
    color: rgb(53, 52, 52);
}

.grahp-honda{
    font-family: Tahoma;
    font-size: small;
    font-weight: bold;
    margin-left: 140px;
    padding-top: 10px;
    color: rgb(53, 52, 52);
}


.google{
    margin-top:5px ;
    width: 60px;
padding-top: 10px;
padding-left: 150px;
}


.padge-pepsi{
    margin-left: 290px;
    background: whitesmoke;
    display: inline-block;
    border: solid rgb(184, 182, 182) 1px;
    width: 360px;
    height: 170px;
    border-radius: 30px;
}


.padge-honda{
    margin-left: 30px;
    background: whitesmoke;
    display: inline-block;
    border: solid rgb(184, 182, 182) 1px;
    width: 360px;
    height: 170px;
    border-radius: 30px;
}


.padge-google{
    margin-left: 290px;
    background: whitesmoke;
    display: inline-block;
    border: solid rgb(184, 182, 182) 1px;
    width: 360px;
    height: 170px;
    border-radius: 30px;
}


.padge-tide{
    margin-left: 30px;
    background: whitesmoke;
    display: inline-block;
    border: solid rgb(184, 182, 182) 1px;
    width: 360px;
    height: 170px;
    border-radius: 30px;
    margin-bottom: 70px;
}

.padge-honda, .padge-pepsi, .padge-google{
    margin-top: 20px;
}

.padge-tide{
    margin-top: 0;
}


.last{
padding-top: 25px;
    background: rgb(56, 55, 55);
    color: white;
    text-align: center;
    padding-bottom: 30px;
}